<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081416507557-5uv8a7m41uadf1m9j87o1ff93qbpb4ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081416507557-5uv8a7m41uadf1m9j87o1ff93qbpb4ti</string>
	<key>API_KEY</key>
	<string>AIzaSyCxk65sijywtTecR6ozeoUdVwc6wWdPnCE</string>
	<key>GCM_SENDER_ID</key>
	<string>1081416507557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BarryChen.ARFoodie</string>
	<key>PROJECT_ID</key>
	<string>arfoodie-1553765270424</string>
	<key>STORAGE_BUCKET</key>
	<string>arfoodie-1553765270424.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081416507557:ios:14929275e4dda894</string>
	<key>DATABASE_URL</key>
	<string>https://arfoodie-1553765270424.firebaseio.com</string>
</dict>
</plist>